/* Variables */
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$primary-bg-color: #ffffff;
$secondary-color: #1b1f23;
$background-color: #fafbfc;
$hover-color: #e6e6e6;
$border-color: #cccccc;
$red:	#d73a49;
$red-900: #86181d;
// end Variables

/* Normalize rules */
* {
  // box-sizing: border-box;
  // padding: 0;
  // margin: 0;

  // smoothen up all hover transitions
  &:hover {
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
  }
}

html,
body {
  // height: 100%;
  // width: 100%;
}
// end Normalize rules

/*  General Styles */

body {
  background: $background-color;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.main-title {
  font-weight: normal;
}

h2 {
  font-size: 1.8rem;
  font-size: 28px;
  margin: 0;
}

h3 {
  font-size: 1.4rem;
}

label {
  text-transform: uppercase;
  border-bottom: 1px solid $border-color;
  padding-bottom: 5px;
  display: block;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    padding: 10px;
  }
}

.shell {
  margin: 0 auto;
  max-width: 800px;
  background: $primary-bg-color;
  padding: 30px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.padding-bottom {
  padding-bottom: 40px;
}

.align-right {
  text-align: right;
}

.flex-image {
  margin-top: 16px;
}

.header {
  background-color: $secondary-color;
  color: $primary-bg-color;

  .header-shell {
    margin: 0 auto;
    max-width: 860px;
    display: flex;
    justify-content: space-between;

    a {
      color: $primary-bg-color;
      text-decoration: none;
      padding: 10px 30px;

      &.btn {

        &:hover {
          background-color: #333;
        }
      }

      svg {
        position: relative;
        top: 2px;
        fill: $primary-bg-color;
      }
    }
  }
}

.link-button {
  display: block;
  padding: 0.75em 1.5em;
  margin-bottom: 15px;
  line-height: 1.5;
  background-color: $background-color;
  color: $secondary-color;
  font-size: 2rem;
  text-decoration: none;

  &:hover {
    background-color: $hover-color;
  }

  svg {
    height: 32px;
    width: 32px;
    position: relative;
    top: 6px;
  }
}

/*  Ferry page */
#ferry {
  .map {
    height: 200px;
    overflow: hidden;
    margin: -30px -30px 20px;
    position: relative;

    img {
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }

  ul {
    li {
      &:nth-child(2n + 1) {
        background-color: $background-color;
      }

      &:hover {
        background-color: $hover-color;
      }
    }
  }
} // end #ferry

/*  Tide page */
#tide {
  ul {
    li {
      padding: 0;
    }
  }
} // end #tide

/* Bus */
#map { height: 280px; background: gray; margin: -30px -30px 20px -30px; }
.marker {
    background-color: #FFF;
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    text-align:center;
    border: 1px solid #AAA;
    line-height: 20px;
    text-decoration: 0;
    color: #AAA;
}
.current_marker {
  background-color: $red;
  border: 1px solid $red-900;
  color: #FFF;
}
// end Bus 
/* Mobile */
@media only screen and (max-width: 600px) {
  .map {
    margin: -20px -20px 20px;
  }

  .header a {
    padding: 10px 20px;
  }

  .link-button {
    font-size: 22px;
  }

  .link-button svg {
    height: 24px;
    width: 24px;
  }
} // end Mobile
